@media only screen and (max-width: 576px) {
    .testimonial-title{
        font-size: 10px;
        margin-bottom: 0px;
    }
    .retting{
        box-sizing: border-box;
    }
    .retting i{
        font-size: 10px;
    }
    .service-2nd-section, .service-third-section, .section-fourth,.eight-section{
        margin: 0px 0px;
    }
    .third, .six-section {
        margin: 0px !important;
        padding: 10px 0px !important;
    }
/*============================       service page style start            ============================*/
/*============================       service page style start            ============================*/


/*============================       service page style end            ============================*/
/*============================       service page style end            ============================*/

}
@media only screen and (min-width: 1000px) {
    .home-page-header{
        height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}